# Laravel
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
# Flutter
/locales_flutter/build/
/locales_flutter/.dart_tool/
/locales_flutter/.idea/
/locales_flutter/.pub-cache/
/locales_flutter/ios/Flutter/App.framework/
/locales_flutter/ios/Flutter/Flutter.framework/
/locales_flutter/ios/Flutter/flutter_export_environment.sh
/locales_flutter/android/app/debug/
/locales_flutter/android/app/release/

# OS
.DS_Store
Thumbs.db